@model SocNet.Models.AskApiTwitterFollowerFriend

@{
    ViewBag.Title = "Index";
}

<h2>Formularz pobierania Followersów użytkownika serwisu Twitter</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(model => model.networkID)
        @Html.TextBoxFor(model => model.networkID)
    </div>
    <div>
        @Html.LabelFor(model => model.initialVertex)
        @Html.TextBoxFor(model => model.initialVertex)
    </div>
    <div>
        @Html.LabelFor(model => model.queryLimit)
        @Html.TextBoxFor(model => model.queryLimit)
    </div>


    <input type="submit" value="Zbierz Followersów" />
}

