@model EPXSocNet.Models.Credentials

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Credentials</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.key)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secret)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceDb.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceDb.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
