@using SocNet_EPX.TemplateModels.User

@model User

@using (Html.BeginModalHeader())
{
    <h3>@SocNet_EPX.TemplateResources.Shared.TopBar.UserAccountManagement</h3>
}

@using (Html.BeginForm("ManageAccount", "User", FormMethod.Post, new { data_ajax_inner_modal_form = "true" }))
{
    using (Html.BeginModalBody())
    {
        @Html.HiddenFor(m => m.Id)
        
        <div class="form-group">
            @Html.LabelFor(m => m.Language)
            @Html.DropDownListFor(m => m.Language, (List<SelectListItem>)ViewBag.Languages, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Language)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastName)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber)
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PhoneNumber)
        </div>
    }

    using (Html.BeginModalFooter(null, SocNet_EPX.TemplateResources.User.ManageAccount.Cancel))
    {
        <input type="submit" class="btn btn-success" value="@SocNet_EPX.TemplateResources.User.ManageAccount.Save" />
    }
}