@model SocNet.Models.FormFlickrFollowers

@{
    ViewBag.Title = "FlickrFollowers";
}

<h2>Formularz pobierania Followersów z serwisu Flickr</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(model => model.InitialVertex)
        @Html.TextBoxFor(model => model.InitialVertex)
    </div>
    <div>
        @Html.LabelFor(model => model.NetworkID)
        @Html.TextBoxFor(model => model.NetworkID)
    </div>
    <div>
        @Html.LabelFor(model => model.DownloadNetwork)
        @Html.CheckBoxFor(model => model.DownloadNetwork)
        <p>Uzupełnij opcje poniżej jeżeli chcesz pobrać sieć</p>
    </div>
    <div>
        @Html.LabelFor(model => model.NumberQueries)
        @Html.TextBoxFor(model => model.NumberQueries)
    </div>

    <input type="submit" value="Zbierz Dane" />
}

